body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

div.homecontainer {
    height: 10em;
    position: relative }
div.homecontainer p {
    margin: 0;
    background: rgb(106, 218, 238);
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) }

/* .container {
  padding-top: 500px;
  display: grid;
  justify-content: space-evenly; 
  float: left;
  width:  1px;
  height: 1px;
  object-fit: cover;
} */

/* .item {
  width: 18rem;
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

.reviewcontainer {
  padding-bottom: 40px
}

.reviewItem {

} */

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  padding-top: 20px;
  padding-bottom: 20px;

}

.card {
  background: grey;
  padding: 15px;
  width: 30%;
  
}

.profilecard {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
}

.createsetupbutton {
  
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ccc;
}

